$btn-color-out:#f44a17;
$btn-color-out-hover:#f15c2f;
$btn-color-out-border:#dc4517;
$color-primary:#5AA7F2;
$color-border-parimary:#2777c7;
$font-color-default:#747474;

$color-table-hover:#f1f1f1;
$color-table-active:#8ad64c;

$btn-color-cancel:#d8d9d9;

$border-color:#e3e3e3;

$color-info: #f98d01;

$header-height: 46px;
$main-left:280px;
$main-right:100%;