.icon-home{
	background-position: center -4px;
}
.icon-xtgl{
	background-position: center -40px;
}
.icon-xtwh{
	background-position: center -78px;
}
.icon-gj{
	background-position: center -116px;
}
.icon-zd{
	background-position: center -154px;
}
.icon-gy{
	background-position: center -192px;
}
.icon-dp{
	background-position: center -230px;
}
.icon-lcyy{
	background-position: center -268px;
}
.icon-kjyw{
	background-position: center -306px;
}
.icon-yyfx{
	background-position: center -344px;
}
.icon-controller{
	display: block;
	width: 23px;
	height: 23px;
	@include background-image(image-url('../images/icon_close_bar.png'));
	background-position:center -23px;
	background-repeat: no-repeat;
}
.icon-xtsy{
	background-position: -14px center;
}
.icon-cdgl{
	background-position: -108px center;
}
.icon-xtsz{
	background-position: -199px center;
}
.icon-ypml{
	background-position: -292px center;
}
.icon-sxsh{
	background-position: -392px center;
}
.icon-index-yyfx{
	background-position: -485px center;
}
.icon-cfdp{
	background-position: -581px center;
}
.icon-index-kjyw{
	background-position: -680px center;
}
.icon-index-gzsd{
	background-position: -777px center;
}
.icon-add{
	background-position: -874px center;
}